@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #100f15;
    font-family: "Inter", "sans-serif";
}

::-webkit-scrollbar {
    width: 5px;
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #b79654;
}
